body{
  background:#0f2027;
  color:white;
  font-family:Arial;
  text-align:center;
}
.grid{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}
.card{
  background:#203a43;
  padding:15px;
  border-radius:12px;
  width:280px;
}
.card img{
  width:100%;
  border-radius:10px;
}
.btn{
  display:block;
  margin-top:10px;
  padding:10px;
  background:#00c6ff;
  color:black;
  text-decoration:none;
  border-radius:8px;
}
.upcoming{
  opacity:0.7;
}
